@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 300;     
  src: url('../fonts/Commissioner-Light.woff2') format('woff2'),
       url('../fonts/Commissioner-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 400;     
  src: url('../fonts/Commissioner-Regular.woff2') format('woff2'),
       url('../fonts/Commissioner-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 500;     
  src: url('../fonts/Commissioner-Medium.woff2') format('woff2'),
       url('../fonts/Commissioner-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 600;     
  src: url('../fonts/Commissioner-SemiBold.woff2') format('woff2'),
       url('../fonts/Commissioner-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 700;     
  src: url('../fonts/Commissioner-Bold.woff2') format('woff2'),
       url('../fonts/Commissioner-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;     
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
       url('../fonts/Roboto-Regular.woff') format('woff');
  font-display: swap;
}